#######################################################################################################################
#
# Requirements used for the generalized channels project
#
# Install with
# pip install -r requirements.txt
#
#######################################################################################################################

bitcoin-utils